<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #bbccca;
	}

	input{
		width: 50%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
      font-size: 18px;
	}

	/* .submit{
		background-color: #6BA3E8;
	} */

	.center-column{
		width:40%;
        font-weight: bold;
        text-align: center;
		margin: 200px auto;
		padding:50px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}


</style>
<div class="center-column">
<h3>Are you sure you want to delete "{{todo}}"?</h3>

<form action="" method="POST" style="text-align: center;" class="alert alert-danger">
    {% csrf_token%}
    <input type="submit" name="Confirm" class="btn btn-info">
    <a href="{% url 'list' %}" class="btn btn-success">Cancel</a>
</form>
</div>