<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<style>

	body{
		background-color: #bbccca;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
       
		margin: 200px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}
    .title{
        text-align: center;
    }

	.item-row{
        display: flex;
        justify-content: space-between;
		background-color: #599e93;
		margin: 24px;
		padding: 14px;
		border-radius: 3px;
		color: #fff;
		font-size: 20px;
		/* box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75); */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}
    i:hover{
        color:#bbccca;
    }
   



</style>
<div class="center-column">
<h1 class="title">My Todo List</h1>

<form action="{% url 'list' %}" method="POST">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" value="Submit" name="create todo">
</form>
<div class="todo-list">

{% for todo in todos %}
<div class="item-row">
 
   

    {% if todo.complete == True %}
    <strike>{{todo}}</strike>
    {%else%}
    <span>{{todo}}</span>
    {%endif%}
    <div>
        <a class="btn btn-sm " href="{% url 'update' todo.id %}"><i class='fas fa-edit' style='font-size:24px'></i></a>
        <a class="btn btn-sm " href="{% url 'delete' todo.id %}"><i class='fas fa-trash-alt' style='font-size:24px;color:#000'></i></a>
    </div>

</div>


{% endfor %}
</div>
</div>